@using Topics.Api
@using Bargeh.Main.Wapp.Client.Components.Pages

@* TODO: Should display image and attachments here too *@
<div class="shadow-box-nohover post_@Post.Id">
	<input type="hidden" id="@(Post.Id)_id" value="@(Post.Id)"/><input type="hidden" id="@(Post.Id)_likes" value="@Post.Likes"/><input type="hidden" id="@(Post.Id)_loves" value="@Post.Loves"/><input type="hidden" id="@(Post.Id)_funnies" value="@Post.Funnies"/><input type="hidden" id="@(Post.Id)_insights" value="@Post.Insights"/><input type="hidden" id="'@(Post.Id)_dislikes" value="@Post.Dislikes"/>
	<p class="post-text no-block-margin">@Post.Body</p>
	<div class="topic-info">
		<p>توسط <a href="/User/@Post.AuthorUsername">@@@Post.AuthorUsername</a></p>
		<div class="footer-links button-bubble reactions">
			<span class="reactions-count">@Topic.GetPostReactionsNumber(Post)</span><img src="/img/Like.svg" class="reaction-icon" alt="پسند"> <img src="img/Love.svg" class="reaction-icon" alt="قلب"> <img src="/img/Light.svg" class="reaction-icon" alt="چراغ">
		</div>
	</div>
</div>

@code {

	[Parameter]
	public required ProtoPost Post { get; set; }

}